body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #a0b0b9; 
}

header {
    background-color: #1e1e1e;
    color: white;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #a0b0b9;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover, nav ul li a.active {
    color: #76c7c0; 
    text-decoration: underline;
}


.post a, .thread a {
    color: #a0b0b9; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.post a:visited, .thread a:visited {
    color: #8a6c9e;
}


.sidebar {
    width: 250px;
    position: fixed;
    top: 115px;
    background-color: #1e1e1e;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    border-right: 15px solid #1e1e1e;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-left: 10px;
}

.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #a0b0b9;
    margin-bottom: 10px;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: #333;
}

/* Main content area */
.content {
    margin-left: 290px;
    padding: 16px;
}

.threads, .posts {
    margin-bottom: 20px;
    padding: 16px;
}

.thread, .post {
    background-color: #1e1e1e;
    border: 1px solid #333;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.post-content {
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

* {
    scroll-behavior: smooth;
    transition: all 0.3s ease-in-out;
}
